.root {
    --primary-color: #38B6FF;
    --primary-light: #9ADAFF;
    --secondary-color: #004AAD;
    --secondary-light: #216CCF;
    --text-color: black;
    --background-color: white;
}
body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary-light);

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 10px;
  width: 150px;
}

input {
  width: 300px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--primary-light);
  border-radius: 3px;
  box-sizing: border-box;
}

Button {
  background-color: var(--secondary-color);
  color: white;
}

/* Add hover effect to the button */
Button:hover {
  background-color: var(--secondary-light);
}